body {
    background-color: white;
    margin: 0;
    padding: 0;
    color: white;
}

.header {
    background-color: #C64242;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    margin-left: 2%;
}

.header-right {
    margin-left: 5%;
    margin-right: 5%;
}

.header-right li {
    list-style: none;
}

h1 {
    font-size: 35px;
}

a {
    text-decoration: none;
    color: white;
    margin: 60px;
    font-size: 26px;
}

a:hover {
    text-decoration: underline;
}

.Hem-text {
    padding: 1%;
    height: 360px;
    width: 170px;
    background-color: #C64242;
    border-radius: 15px;
    margin-left: 1180px;
    margin-top: 60px;
    display: flex;
    align-items: top;
    justify-content: center;
    position: absolute;
}

.Botten-text{
    background-color: #C64242;
    border-radius: 12px;
    height: 30px;
    width: 700px;
    margin-top: 525px;
    margin-left: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

p {
    font-size: 19px;
    padding: 1%;
}


img {
    height: 260px;
    width: 260px;
    margin-top: 40px;
    margin-left: 600px;
    position: relative;
    border-radius: 50%;
}