body {
    background-color: white;
    margin: 0;
    padding: 0;
    color: white;
}

.header {
    background-color: #C64242;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    margin-left: 2%;
}

.header-right {
    margin-left: 5%;
    margin-right: 5%;
}

.header-right li {
    list-style: none;
}

h1 {
    font-size: 35px;
}

.länkar {
    text-decoration: none;
    color: white;
    margin: 60px;
    font-size: 26px;
}

a:hover {
    text-decoration: underline;
}

.top-spelare {
    text-decoration: none;
    color: white;
    margin: 60px;
    font-size: 26px;
}

.spelare-lista {
    background-color: #C64242;
    height: 300px;
    width: 165px;
    font-size: 18px;
    display: none;
    position: absolute;
    margin-left: 950px;
    margin-top: 365px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    border-radius: 12px;
}

.top-spelare:hover .spelare-lista{
    display: block;
}

.spelare {
    text-decoration: none;
    color: white;
    display: flex;
    padding-left: 2%;
}

.Hem-text {
    padding: 1%;
    height: 360px;
    width: 170px;
    background-color: #C64242;
    border-radius: 15px;
    margin-left: 1180px;
    margin-top: 60px;
    display: flex;
    align-items: top;
    justify-content: center;
    position: absolute;
}

.Botten-text{
    background-color: #C64242;
    border-radius: 12px;
    height: 30px;
    width: 700px;
    margin-top: 525px;
    margin-left: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

p {
    font-size: 19px;
    padding: 1%;
}

.Aruna img {
    height: 260px;
    width: 260px;
    margin-top: 40px;
    margin-left: 550px;
    position: absolute;
    border-radius: 50%;
}

.Zhendong img {
    height: 370px;
    width: 370px;
    margin-top: 20px;
    margin-left: 80px;
    position: absolute;
    border-radius: 50%;
}

.Bingbong img {
    height: 220px;
    width: 220px;
    margin-top: 280px;
    margin-left: 440px;
    position: relative;
    border-radius: 50%;
}